@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans Mono', monospace;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2029&q=80);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
}

header {
    background: #332774;
    color:white;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 0.5rem 0;
    position:fixed;
    left:0;
    top:0;
    right:0;
}

footer{
    background: #2e8bab;
    color: white;
    border-color: #332774;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.contenedor{
    background-color: white;
    border: radius 2px;
    border-radius: 6px;
    box-shadow: 20px 21px 8px -9px rgba(0,0,0,2);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    position:inherit;
}

.encabezado{
    background: #336094;
    color: azure;
    text-align: center;
    border-bottom: 0.5px solid white;
    border-radius: 1px;
    padding: 0.3px 5px;
}

#formulario{
    padding: 10px 60px;
}

.form-control {    
    margin-bottom: 7px;
    padding-bottom: 25px;
    position: relative;
}

#formulario button {
    background: #307aa4;
    border: 1px solid #307aa4;
    border-radius: 5px;
    color:white;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    }

    